@import './reset';
@import './siderBar';
@import './iconfont';

.mr8 {
  margin-right: 8px;
}

// 重置element ui的css
.el-main {
  padding: 0;
}
.el-dropdown-menu__item {
  color: rgba(0,0,0,.65);
}
.el-breadcrumb__inner.is-link, 
.el-breadcrumb__inner a,
.el-breadcrumb__separator {
  font-weight: normal;
  color: rgba(0,0,0,.45);
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
  color: rgba(0,0,0,.65);
}

// 登录input
.login-line-input {
  .el-input__inner {
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 1px;
  }
}